<div class="az-content">
  <div class="container">
    <div class="az-content-body">

      <!-- Header -->
      <report-header
        [reportHeaderTitle]="'Labs'"
        [reportHeaderSubTitle]="'The Lab report turns data into meaningful information'"
        [customPdfExport]="labsPdfExport">
      </report-header>

      <!-- Single-report details -->
      <div class="row" *ngIf="reportDisplayModel">
        <div class="col-12 mt-3 mb-3">
          <h1 class="az-dashboard-title">Report Info</h1>
        </div>
        <div class="col-12">
          <fhir-card [displayModel]="reportDisplayModel" [showDetails]="true"></fhir-card>
        </div>
      </div>

      <!-- Toolbar: title + included-reports dropdown -->
      <div class="row mt-5 mb-3 align-items-center">
        <div class="col-6">
          <h1 class="az-dashboard-title">Observations</h1>
        </div>
        <div class="col-6 d-flex justify-content-end" style="gap:8px">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-indigo" id="dropdownReports" ngbDropdownToggle>
              Included Reports
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownReports">
              <button ngbDropdownItem
                [class.active]="!reportSourceId && !reportResourceType && !reportResourceId"
                [routerLink]="'/labs'">All</button>
              <button ngbDropdownItem [disabled]="true">-----</button>
              <button
                *ngFor="let diagnosticReport of diagnosticReports"
                [class.active]="reportSourceId == diagnosticReport?.source_id && reportResourceType == diagnosticReport?.source_resource_type && reportResourceId == diagnosticReport?.source_resource_id"
                ngbDropdownItem
                [routerLink]="'/labs/report/' + diagnosticReport?.source_id + '/' + diagnosticReport?.source_resource_type + '/' + diagnosticReport?.source_resource_id"
              >{{diagnosticReport?.sort_title}} [{{diagnosticReport?.sort_date | amDateFormat: 'LL'}}]</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Loading -->
      <div class="row" *ngIf="loading">
        <div class="col-12">
          <app-loading-spinner [loadingTitle]="'Please wait, loading report...'"></app-loading-spinner>
        </div>
      </div>

      <!-- Empty state -->
      <div *ngIf="!loading && isEmptyReport" class="d-flex align-items-center" style="height:100%">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <h4 class="tx-purple mg-b-20">No Lab Data Found!</h4>
          <p class="mg-b-20 mg-x-20">
            Fasten was unable to find any lab data from your connected sources. You may need to connect another source to import your Lab data.
          </p>
          <button [routerLink]="'/sources'" type="button" class="btn btn-purple pd-x-25">Add Source</button>
          <button [routerLink]="'/resource/create'" type="button" class="btn btn-purple pd-x-25 mg-l-10">Add Condition</button>
        </div>
      </div>

      <!-- AG Grid table -->
      <div *ngIf="!loading && !isEmptyReport">
        <ag-grid-angular
          [class]="isDarkMode ? 'ag-theme-alpine-dark' : 'ag-theme-alpine'"
          style="width: 100%;"
          domLayout="autoHeight"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [isFullWidthRow]="isFullWidthRow"
          [fullWidthCellRenderer]="fullWidthCellRenderer"
          [getRowId]="getRowId"
          [getRowClass]="getRowClass"
          [getRowHeight]="getRowHeight"
          [animateRows]="true"
          (gridReady)="onGridReady($event)"
          (rowClicked)="onRowClicked($event)"
        ></ag-grid-angular>
      </div>

    </div>
  </div>
</div>
